<ul class="nav justify-content-end justify-menu">
    <li class="nav-item">
        <a class="nav-link active" href="#">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">PORTFOLIO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">SOBRE MIM</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">CONTATO</a>
    </li>
</ul>
<div class="container identification">

    <div class="row">
        <div class="col-md-6">
            <h1 class="title-name">GUILHERME G.</h1>
            <h3 class="subtitle">Programador Full-Stack</h3>
            <p></p>
            <p class="subtitle-text">Olá! Nesse portfolio você pode conhecer um pouco mais
                sobre mim e sobre o meu trabalho na area de tecnologia!
                Sinta-se a vontade para navegar!</p>
                <a class="icon-social" href=""><img src="../../assets/img/github.svg"></a>
                <a class="icon-social" href=""><img src="../../assets/img/linkedin.svg"></a>
                <a class="icon-social" href=""><img src="../../assets/img/medium.svg"></a>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 btn-div">
            <button type="button" class="btn btn-success btn-home">MEU PORTFOLIO</button><br>
            <button type="button" class="btn btn-success btn-home">CURRICULO PDF</button>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<div class="all-body">

</div>